<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<style>
    .field-error{
        margin-bottom: 12px;
        font-weight: 600;
    {
</style>
<body>
<nav th:replace="fragments/header-nav :: header-nav"></nav>
<section class="container py-5">
    <div class="row pb-4">
        <div class="h2-title py-5 text-center">
            <h2>로그인</h2>
        </div>
        <form class="contact-form row" th:action th:object="${user}" method="post">
            <div th:if="${#fields.hasGlobalErrors()}">
                <div class="field-error" th:each="err : ${#fields.globalErrors()}"
                     th:text="${err}">전체 오류 메시지</div>
            </div>
            <div class="col-12">
                <div class="form-floating mb-4">
                    <input type="text" id="email" th:name="email" th:field="*{email}" placeholder="이메일"
                           class="form-control form-control-lg light-300"
                           th:errorclass="field-error">
                    <label for="floatingname light-300">이메일</label>
                </div>
            </div><!--end email-->
            <div class="col-12">
                <div class="form-floating mb-4">
                    <input type="password" id="password" th:name="password" th:field="*{password}" placeholder="비밀번호"
                           class="form-control form-control-lg light-300"
                           th:errorclass="field-error">
                    <label for="floatingname light-300">비밀번호</label>
                </div>
            </div><!--end password-->
            <hr class="my-4">
            <div class="row">
                <div class="col-md-12 col-12 m-auto text-center">
                    <button class="btn btn-secondary rounded-pill px-md-5 px-4 py-2 radius-0 text-light light-300"
                     id="formSubmit" type="=submit">로그인</button>
                </div>
            </div>
        </form>
    </div>
</section>
</body>

<script>

    $('#formSubmit').click(function () {
        let email = $('#email').val();
        let password = $('#password').val();
        let isValid = true;

        if (!email) {
            $('.h2-title').siblings('.field-error').remove();
            $('.h2-title').after('<div class="field-error text-center">아이디를 입력하세요.</div>');
            isValid = false;
        }
        else if (!password) {
            $('.h2-title').siblings('.field-error').remove();
            $('.h2-title').after('<div class="field-error text-center">비밀번호를 입력하세요.</div>');
            isValid = false;
        }
        return isValid;
    });
</script>

<footer th:replace="fragments/footer :: footer"></footer>
</html>