<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>코딩 챌린지</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/assets/img/apple-icon.png"/>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico"/>
    <!-- Load Require CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Font CSS -->
    <link href="/assets/css/boxicon.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet"/>
    <!-- Load Tempalte CSS -->
    <link rel="stylesheet" href="/assets/css/templatemo.css"/>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/custom.css"/>
    <!--jQuery-->
    <script src="/assets/js/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Bootstrap -->
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <!-- Templatemo -->
    <script src="/assets/js/templatemo.js"></script>
    <!-- Custom -->
    <script src="/assets/js/custom.js"></script>
    <!--Tempus Dominus-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" />
</head>
</head>
<body>
<nav th:replace="fragments/header-nav :: header-nav"></nav>
<section class="container py-5">
    <div class="row pb-4">
        <div class="py-5 text-center">
            <h2>챌린지 개설</h2>
        </div>

        <form class="contact-form row" method="post" action="/challenges" role="form">
            <div class="col-12">
                <div class="form-floating mb-4">
                    <input type="text" class="form-control form-control-lg light-300" name="title" placeholder="제목">
                    <label for="floatingsubject light-300">제목</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating mb-4">
                    <select class="form-select" id="floatingcategory" name="inputcategory" placeholder="카테고리 선택">
                        <option selected hidden>챌린지 카테고리 선택</option>
                        <option value="language">프로그래밍 언어</option>
                        <option value="frontend">프론드엔드</option>
                        <option value="backend">백엔드</option>
                        <option value="app">모바일 앱 개발</option>
                        <option value="database">데이터베이스</option>
                        <option value="algorithm">알고리즘/자료구조</option>
                        <option value="etc">기타</option>
                    </select>
                </div>
            </div>
            <div class='col-md-3 col-xs-4'>
                <div class="form-floating mb-4">
                    <div class="input-group date" id="startDate" data-target-input="nearest">
                        <label>챌린지 시작일</label>
                        <input type="text" class="form-control datetimepicker-input" data-target="#startDate">
                        <div class="input-group-append" data-target="#startDate" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-md-3 col-xs-4'>
                <div class="form-floating mb-4">
                    <div class="form-floating mb-4">
                        <input type="number" class="form-control form-control-lg light-300" placeholder="챌린지 기간" min="1" max="52">
                        <label for="floatingsubject light-300">챌린지 기간(주 단위)</label>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating mb-4">
                    <textarea class="form-control light-300" rows="14" placeholder="본문" id="floatingtextarea"></textarea>
                    <label for="floatingtextarea light-300">본문</label>
                </div>
            </div>
            <div class="col-md-12 col-12 m-auto text-center">
                <button type="submit" class="btn btn-secondary rounded-pill px-md-5 px-4 py-2 radius-0 text-light light-300">개설하기</button>
            </div>
        </form>
    </div>

</section>
<script>
      $(function () {
        let startDate = $('#startDate');
        let endDate = $('#endDate');

        startDate.datetimepicker({
            format: 'YYYY-MM-DD',
            useCurrent: false,
            minDate: moment().millisecond(0).second(0).minute(0).hour(0).add(1, 'day'),
            maxDate: moment().millisecond(0).second(0).minute(0).hour(0).add(30, 'day')
        });
    });

</script>
</body>
<footer th:replace="fragments/footer :: footer"></footer>

</html>